<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PriceList</title>
    <link rel="stylesheet" th:href="@{/css/PriceList.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-title">
            <div class="sidebar-profile">
                <div class="sidebar-pic"></div>
                <div class="sidebar-name">
                    <div class="child-name">
                        <span th:text="${staff.fullName}"></span>
                    </div>
                    <div>
                        <span class="child-manager">Manager <i class="fa-solid fa-pencil"></i> </span>
                    </div>
                </div>
            </div>
           <a class="link-product" th:href="@{/dashboard}"><p>Dashboard</p></a>
        <a class="link-product" th:href="@{/manager/products}"><p>Manage Product</p></a>
         <a  class="link-product" th:href="@{/staff}"><p>Manage Staff</p></a>
        <a class="link-product" th:href="@{/promotion}"><p>Promotion</p></a>
        <a  class="link-product" th:href="@{/manager-profile}"><p>Personal Profile</p></a>
        <a class="link-product" th:href="@{/counter}"><p>Manage Counter</p></a>
         <a  class="link-product" th:href="@{/manage-material}"><p>Manage Material</p></a>       
         <a class="link-product" th:href="@{/price-list}"><p>Material Price List</p></a>
         <p class="active"> Gem Price List</p>
        </div>
       <form th:action="@{/perform_logout}" method="post">
            <button type="submit"> 
                <i class="fa-solid fa-right-from-bracket"></i> Log out
            </button>
        </form>
    </div>
    <div class="content">
        <div class="bill-header">
            <h1>Gem Price List</h1>
        </div>
         <div class="create ">
                    <button class=" btn btn-primary btn-create " th:onclick="showPasswordModal()">Create</button>
                </div>
        <div class="bill-table">
            <table>
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Clarity</th>
                        <th>Color</th>
                        <th>Cut</th>
                        <th>Carat</th>
                        <th>Buy Price</th>
                        <th>Sell Price</th>
                        <th>Apply Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="gemPriceList : ${gemPriceListPage}">
                        <td th:text="${gemPriceList.gem.gemName}"></td>
                        <td th:text="${gemPriceList.gem.clarity}"></td>
                        <td th:text="${gemPriceList.gem.color}"></td>
                        <td th:text="${gemPriceList.gem.cut}"></td>
                        <td th:text="${gemPriceList.gem.carat}"></td>
                        <td th:text="${gemPriceList.buyPrice}"></td>
                         <td th:text="${gemPriceList.sellPrice}"></td>
                        <td th:text="${#dates.format(gemPriceList.applyDate, 'yyyy-MM-dd hh:mm:ss a')}"></td>              
                   </tr>
                   
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
                <div class="previous">
                    <a th:if="${currentPage > 0}" th:href="@{/gem-price-list(page=${currentPage - 1 })}">
                        <button class="btn-previous"> <i class="fa-solid fa-arrow-left i-left"></i>Previous</button>
                    </a>
                </div>
                <div class="pages">
                    <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                        th:class="${pageNumber == currentPage} ? 'page-active' : ''">
                        <a th:href="@{/gem-price-list(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                    </span>
                </div>
                <div class="next">
                    <a th:if="${currentPage < totalPages - 1}" th:href="@{/gem-price-list(page=${currentPage + 1})}">
                        <button class="btn-next"> Next <i class="fa-solid fa-arrow-right i-right"></i></button>
                    </a>
                </div>
            </div>
            </div>
    
    
    <div id="passwordModal" class="container">
            <div class="container">
                <div class="row justify-content-center">
                    <form action="/gem-price-list" method="post" id="promotionForm" class="col-5 passwordForm"
                        th:object="${gemPriceList}">
                        <span class="close" onclick="hidePasswordModal()">&times;</span>
                        <div class="text-center create-new-password">Create Price List </div>
                        <div class="group mt-4">
                            <div class="row">
                                <div class="col-6 form-group">
                                    <label>Material Name</label>
                                    <select th:field=*{gemID}>
                                      <option value=1 th:selected="${gemPriceList.gemID == 1}">18k gold</option>
                                      <option value=2 th:selected="${gemPriceList.gemID == 2}">24k gold</option>
                                      <option value=3 th:selected="${gemPriceList.gemID == 3}">9999 pure gold</option>
                                    </select>
                                </div>
                            <div class="col-6 form-group">
                                <label>Buy Price</label>
                                <input type="text" class="form-control" th:field=*{buyPrice}>
                            </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6 form-group">
                                    <label>Sell Price</label>
                                     <input type="text"  class="form-control" th:field=*{sellPrice}>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn  btn-save-password">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
        function showPasswordModal() {
        	  document.getElementById("passwordModal").style.display = "block";
        	  document.querySelector(".content-group").classList.add("overlay");
        	}
        	document.addEventListener("DOMContentLoaded", function() {
        	  document.getElementById("passwordModal").style.display = "none";
        	});


        	function hidePasswordModal() {
        	  document.getElementById("passwordModal").style.display = "none";
        	  document.querySelector(".content-group").classList.remove("overlay");
        	}
        </script>
</body>

</html>