<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StaffList</title>
    <link rel="stylesheet" th:href="@{/css/StaffList.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-profile">
            <div class="sidebar-pic"></div>
            <div class="sidebar-name">
                <div class="child-name">
                    <span th:text="${staff.fullName}"></span>
                </div>
                <div>
                    <span class="child-manager">Manager <i class="fa-solid fa-pencil"></i></span>
                </div>
            </div>
        </div>
        <a class="link-product" th:href="@{/dashboard}"><p>Dashboard</p></a>
        <a class="link-product" th:href="@{/manager/products}"><p>Manage Product</p></a>
        <p class="active">Manage Staff</p>
        <a class="link-product" th:href="@{/promotion}"><p>Promotion</p></a>
        <a  class="link-product" th:href="@{/manager-profile}"><p>Personal Profile</p></a>
        <a class="link-product" th:href="@{/counter}"><p>Manage Counter</p></a>
        <p>Manage Material</p>
        <a  class="link-product" th:href="@{/price-list}"><p> Material Price List</p></a>
            <a class="link-product" th:href="@{/gem-price-list}"><p>Gem Price List</p></a>
    </div>
    <form th:action="@{/perform_logout}" method="post">
        <button type="submit">
            <i class="fa-solid fa-right-from-bracket"></i> Log out
        </button>
    </form>
</div>
<div class="content">
    <div class="content-group">
        <div class="bill-header">
            <h1>Staff List</h1>
        </div>
        <div class="button-group">
            <div>
                <a th:href="@{/staff/create-new-staff}"><button class="btn-new-staff"><i class="fa-solid fa-circle-plus"></i> New Staff</button></a>
            </div>
        </div>
        <div class="bill-details"></div>
        <div class="bill-table">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Employee ID</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Counter</th>
                    <th>Detail <th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="staff : ${staffs}">
                    <td th:text="${staff.fullName}"></td>
                    <td th:text="${staff.staffID}"></td>
                    <td th:text="${staff.role.roleName}"></td>
                    <td>
                        <button class="status complete">
                            <span class="sf"><i class="fa-solid fa-circle"></i></span>
                            <span th:text="${staff.isActive ? 'Active' : 'Inactive'}"></span>
                        </button>
                    </td>
                    <td th:text="${staff.counter.counterName}"></td>
                     <td>
                      <a th:href="@{'staff/edit-staff-profile/' + ${staff.staffID}}">
                                <button class="detail-btn"><i class="fa-solid fa-file"></i></button>
                      </a>
                     </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <div class="previous">
        <a th:if="${currentPage > 0}" th:href="@{/staff(page=${currentPage - 1 })}">
            <button class="btn-previous"> <i class="fa-solid fa-arrow-left i-left"></i>Previous</button>
        </a>
    </div>
    <div class="pages">
        <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage ? 'page-active' : ''}">
            <a th:href="@{/staff(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
        </span>
    </div>
    <div class="next">
        <a th:if="${currentPage < totalPages - 1}" th:href="@{/staff(page=${currentPage + 1})}">
            <button class="btn-next"> Next <i class="fa-solid fa-arrow-right i-right"></i></button>
        </a>
    </div>
        </div>
    </div>
    <div class="top-sale">
        <div class="sale-title">
            Top Sale
        </div>
        <div class="sale-table">
            <table class="custom-spacing">
                <thead>
               <tr>
                    <th class="left-column">Staff Name</th>
                    <th class="flex-middle">ID</th>
                    <th class="flex-end">Total Sales</th>
                </tr>
                </thead>
                <tbody>
                 <tr th:each="staffRow : ${topStaff}">
                    <td class="left-column" th:text="${staffRow[1]}"></td> <!-- staffName -->
                    <td class="flex-middle" th:text="${staffRow[0]}"></td> <!-- staffID -->
                    <td class="flex-end" th:text="${staffRow[2]}"></td> <!-- totalSum -->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
