<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bill of Buy</title>
    <link rel="stylesheet" th:href="@{/css/BillOfBuy.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-title">
            <div class="sidebar-profile">
                <div class="sidebar-pic"></div>
                <div class="sidebar-name">
                    <div class="child-name">
                       <span th:text="${staff.fullName}"></span>
                    </div>
                    <div>
                        <span class="child-manager">Cashier <i class="fa-solid fa-pencil"></i> </span>
                    </div>
                </div>
            </div>
            <a class="link-historyOrder" th:href="@{/orders}">
                <p>History Order</p>
            </a>
            <a class="link-historyOrder" th:href="@{/customers}">
                <p>List customer</p>
            </a>
            <a class="link-historyOrder" th:href="@{/seller/products/bill-of-sell/11}">
                <p>Bill of Sell</p>
            </a>
            <p class="active">Bill of buy</p>
            <a class="link-historyOrder" th:href="@{/cashier-profile}">
                <p>Personal Profile</p>
            </a>
            <a class="link-historyOrder" th:href="@{/warranty}">
                <p>Warranty</p>
            </a>
        </div>
          <form th:action="@{/perform_logout}" method="post">
            <button type="submit"> 
                <i class="fa-solid fa-right-from-bracket"></i> Log out
            </button>
        </form>
    </div>
    <div class="content">
        <div class="address">
            <p>FPT Jewelry Store</p>
            <p>Tel: 0909002229</p>
        </div>
        <div class="bill-header">
            <h1>Bill of Buy</h1>
        </div>
        <form id="billForm" th:object="${order}">
            <div class="bill-details">
                <div class="profile">
                    <p class="profile-bill">Sales invoices are sent to:</p>
                    <p>
                        <span class="profile-customer">Customer name:</span>
                        <input type="text" th:value="*{customer.customerName}" readonly>
                    </p>
                    <p>
                        <span class="profile-phone">Phone number:</span>
                        <input type="text" th:value="*{customer.phone}" readonly>
                    </p>
                </div>
                <div class="staff">
                    <p class="staff-name"></p>
                    <p th:text="*{staff.fullName}"></p>
                </div>
                <div class="staff-id">
                    <p class="sf-title">Staff Id</p>
                    <p th:text="*{staffID}"></p>
                </div>
                <div class="bill">
                    <p class="bill-title">Invoice code</p>
                    <p th:text="*{orderID}"></p>
                </div>
                <div class="trans-day">
                    <p class="trans-title">Day Trading</p>
                    <p th:text="*{date}"></p>
                </div>
            </div>
            <div class="bill-table">
                <table>
                    <thead>
                        <tr>
                            <th class="product">PRODUCT_NAME</th>
                            <th>TYPE</th>
                            <th>WEIGHT</th>
                            <th>CARAT</th>
                            <th>COLOR</th>
                            <th>CLARITY</th>
                            <th>CUT</th>
                            <th class="price">UNIT PRICE</th>
                            <th class="total">PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="detail : *{orderDetails}">
                            <td class="product">
                                <span th:text="${detail.product.productName}"></span>
                            </td>
                            <td th:text="${detail.product.type.typeName}"></td>
                            <td th:text="${detail.product.weight}"></td>
                            <td th:text="${detail.product.gemPriceList.gem.carat}"></td>
                            <td th:text="${detail.product.gemPriceList.gem.color}"></td>
                            <td th:text="${detail.product.gemPriceList.gem.clarity}"></td>
                            <td th:text="${detail.product.gemPriceList.gem.cut}"></td>
                            <td th:text="${detail.product.gemPriceList.buyPrice}"></td>
                            <td class="total" th:text="${detail.total}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
             <div class="total-section">
                <div>
                    <p>Provisional total:</p>
                    <p>Promotion (10%):</p>
                    <p>Promotion Code:</p>
                     <p id="promotion-field-percent">Promotion Percent:</p>
                    <p id="promotion-field">Promotion:</p>
                    <hr />
                    <p class="total">Total:</p>
                </div>
                <div class="total-right">
                    <p> <span id="provisional-total"></span></p>
                    <p> <span id="discount-amount"></span></p>
                    <p>
                        <select id="promotion-code" class="promotion-code">
                            <option value="">Select Promotion Code</option>
                            <option th:each="promotion : ${promotions}" th:value="${promotion.promotionCode}" th:data-percent="${promotion.promotionPercent}" th:text="${promotion.promotionCode}"></option>
                        </select>
                    </p>
                   <p id="promotion-field-percent-value"><span id="promotion-percent"></span></p>
                    <p id="promotion-field-value"><span id="additionalDiscount">350.0</span></p>
                    <hr />
                    <p class="total"> <span class="total-child" id="total-amount"></span></p>
                </div>
            </div>
            <div class="buttons">
                <button type="button" class="add-button">Add</button>
                <button type="button" class="cancel-button" >Cancel</button>
                <button type="button" class="print-button" >Print</button>
            </div>
        </form>
    </div>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
    	function calculateProvisionalTotal() {
            let rows = document.querySelectorAll('.bill-table tbody tr');
            let provisionalTotal = 0;

            rows.forEach(function (row) {
                let total = parseFloat(row.querySelector('td.total').textContent.replace(/[^0-9.-]+/g, ""));

                if (!isNaN(total)) {
                    provisionalTotal += total;
                }
            });
   
            document.getElementById('provisional-total').textContent = provisionalTotal.toFixed(1);

            return provisionalTotal;
        }


        function loadPromotionFromStorage() {
            const savedPromotionCode = localStorage.getItem('promotionCode');
            const savedPromotionPercent = localStorage.getItem('promotionPercent');

            if (savedPromotionCode) {
                document.getElementById('promotion-code').value = savedPromotionCode;
                document.getElementById('promotion-percent').textContent = savedPromotionPercent;
            }

            updatePromotionPercent();
        }

        function savePromotionToStorage() {
            const promotionCode = document.getElementById('promotion-code').value;
            const promotionPercent = document.getElementById('promotion-percent').textContent;

            localStorage.setItem('promotionCode', promotionCode);
            localStorage.setItem('promotionPercent', promotionPercent);
        }

        document.getElementById('promotion-code').addEventListener('change', function () {
            updatePromotionPercent();
            savePromotionToStorage();
        });

        function updatePromotionPercent() {
            let promotionCode = document.getElementById('promotion-code').value;
            let options = document.getElementById('promotion-code').getElementsByTagName('option');
            let promotionPercent = '';
            for (let i = 0; i < options.length; i++) {
                if (options[i].value === promotionCode) {
                    promotionPercent = options[i].getAttribute('data-percent');
                    break;
                }
            }
            document.getElementById('promotion-percent').textContent = promotionPercent;

            if (promotionCode === '' || promotionCode === 'Select Promotion Code' || isNaN(parseFloat(promotionPercent))) {
                document.getElementById('promotion-field-percent').style.display = 'none';
                document.getElementById('promotion-field').style.display = 'none';
                document.getElementById('promotion-field-percent-value').style.display = 'none';
                document.getElementById('promotion-field-value').style.display = 'none';
            } else {
                document.getElementById('promotion-field-percent').style.display = 'block';
                document.getElementById('promotion-field').style.display = 'block';
                document.getElementById('promotion-field-percent-value').style.display = 'block';
                document.getElementById('promotion-field-value').style.display = 'block';
            }

            updateTotalAmount();
        }

        // Function to update total amount based on calculations
        function updateTotalAmount() {
        	  let provisionalTotal = calculateProvisionalTotal();
        	    let discount = provisionalTotal * 0.10;
        	    let additionalDiscount = parseFloat(document.getElementById('additionalDiscount').textContent);
        	    let promotionCode = document.getElementById('promotion-code').value;
        	    let promotionPercent = parseFloat(document.getElementById('promotion-percent').textContent);
        	    document.getElementById('discount-amount').textContent = discount.toFixed(1);	   
        	      
        	    if (promotionCode === '' || promotionCode === 'Select Promotion Code' || isNaN(promotionPercent)) {
        	        let totalAmount = provisionalTotal + discount;
        	        document.getElementById('total-amount').textContent = totalAmount.toFixed(1);
        	        document.getElementById('additionalDiscount').parentNode.style.display = 'none';
        	    } else {
        	        let totalAmount = provisionalTotal + discount + additionalDiscount + ((promotionPercent/100)* provisionalTotal);
        	        document.getElementById('discount-amount').textContent = discount.toFixed(1);
        	        document.getElementById('total-amount').textContent = totalAmount.toFixed(1);
        	        document.getElementById('additionalDiscount').parentNode.style.display = 'block';
        	    }
        }

        loadPromotionFromStorage();

        calculateProvisionalTotal();
        updateTotalAmount();

        let orderID = /*[[${order.orderID}]]*/ '';
        let formData = new FormData();
        formData.append('orderID', orderID);

        document.querySelector('.add-button').addEventListener('click', function () {
            let promotionCode = document.getElementById('promotion-code').value;     
            document.querySelector('.add-button').disabled = true;
            document.querySelector('.cancel-button').disabled = false;
            document.querySelector('.print-button').disabled = false;
            document.getElementById('promotion-code').disabled = true;
        });

        document.querySelector('.print-button').addEventListener('click', function () {
            formData.append('totalAmount', document.getElementById('total-amount').textContent);
            fetch(`/seller/products/bill-of-buy/${orderID}/print`, {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    console.log('Order updated successfully');
                    window.location.href = '/orders';
                } else {
                    alert('Failed to update order');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        });

        document.querySelector('.cancel-button').addEventListener('click', function () {
            formData.append('totalAmount', document.getElementById('total-amount').textContent);
            fetch(`/seller/products/bill-of-buy/${orderID}/cancel`, {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    console.log('Order canceled successfully');
                    window.location.href = '/orders';
                } else {
                    alert('Failed to cancel order');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>
     
</body>

</html>
